@page 
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Attributes in ASP.NET Razor Pages</h1>
  <a  href= "/basicbinding">Basic Binding</a>
  <div></div>

  <a  href= "/basicbinding?tourname=Bike&stopnumber=5">With query string</a>
</div>
